## Data cleaning and Preprocessin
##### Car Sales Dataset - Cleaning and Preprocessing
**Introduction**
This notebook documents the data preparation, cleaning, and preprocessing steps for a Car Sales Dataset containing 558,837 vehicle transactions. The dataset includes features like brand, model, sale price, condition, odometer readings, and geographic information. Proper data cleaning is essential for accurate analysis of car market trends, depreciation rates, and regional sales patterns.

#### Data Cleaning Process
1. Importing Libraries and Setting Up File Paths

In [3]:
# import libraries
import pandas as pd 
import numpy as np 
import os

Purpose: Imports essential libraries for data manipulation (pandas, numpy) and file system operations (os)

In [5]:
current_dir= os.getcwd()
#go one directory up to the root directory
project_root_dir =os.path.dirname(current_dir)
#Define paths to the data file
data_dir = os.path.join(project_root_dir,"data")
raw_dir = os.path.join(data_dir,"raw")
processed_dir = os.path.join(data_dir,'processed')
#Define paths to the result fold
results_dir = os.path.join(project_root_dir,"result") 
#define path to docs folderabs
docs_dir = os.path.join(project_root_dir,"docs")

#create directory If they do not exist 
os.makedirs(raw_dir,exist_ok=True)
os.makedirs(processed_dir,exist_ok=True)
os.makedirs(results_dir,exist_ok=True)
os.makedirs(docs_dir,exist_ok=True)

### 2. Reading data

In [7]:
car_prices_data_filename = os.path.join(raw_dir,"car_prices.csv")
car_price_df= pd.read_csv(car_prices_data_filename)
car_price_df.head(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,34.0,14943.0,black,black,the hertz corporation,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,42.0,9557.0,white,black,audi mission viejo,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

In [8]:
car_price_df.shape

(558837, 16)

- Action: Loads the raw CSV file into a pandas DataFrame.
- Initial Inspection: The dataset contains 558,837 rows and 16 columns.

In [10]:
car_price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

# Data cleaning
## 3. Assign proper colummn names 
One of the most stricking things from the above inspection is that the dataset lacks explicit column headers. We manually assign descriptive meaningful column names based on the description of the DATASET. This is critical for readability and interpretability in the subsequent steps.

In [12]:
car_price_df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [13]:
car_price_df.columns=["year","brand","model","trim","body","transmission","vehicle_id","Region","condition","odometer","exterior_color","interior_color","seller","mmr","selling_price","sale_date"]

In [14]:
car_price_df['condition'].unique()

array([ 5., 45., 41., 43.,  1., 34.,  2., 42.,  3., 48., nan, 49., 17.,
       19., 29., 38., 44., 47., 32.,  4., 25., 37., 39., 31., 28., 46.,
       36., 35., 26., 21., 22., 27., 24., 33., 23., 15., 16., 18., 12.,
       14., 11., 13.])

- Purpose: Standardizes column names for consistency (e.g., changing "make" to "brand" and "vin" to "vehicle_id").
- Impact: Improves code readability and maintainability

In [16]:
car_price_df

,year,brand,model,trim,body,transmission,vehicle_id,Region,condition,odometer,exterior_color,interior_color,seller,mmr,selling_price,sale_date
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

### Undestanding dataset

In [18]:
car_price_df["brand"].unique()

array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
       'Land Rover', 'Lincoln', 'lincoln', 'Jaguar', 'Volkswagen',
       'Toyota', 'Subaru', 'Scion', 'Porsche', nan, 'bmw', 'Dodge',
       'FIAT', 'Chrysler', 'ford', 'Ferrari', 'Honda', 'GMC',
       'mitsubishi', 'Ram', 'smart', 'chevrolet', 'Bentley', 'chrysler',
       'pontiac', 'Pontiac', 'Saturn', 'Maserati', 'Mercury', 'HUMMER',
       'landrover', 'cadillac', 'land rover', 'mercedes', 'mazda',
       'toyota', 'lexus', 'gmc truck', 'honda', 'nissan', 'porsche',
       'Saab', 'Suzuki', 'dodge', 'subaru', 'Oldsmobile', 'oldsmobile',
       'hyundai', 'jeep', 'Isuzu', 'dodge tk', 'Geo', 'acura',
       'volkswagen', 'suzuki', 'kia', 'audi', 'Rolls-Royce', 'gmc',
       'maserati', 'mazda tk', 'mercury', 'buick', 'hyundai tk',
       'mercedes-b', 'vw', 'Daewoo', 'chev truck', 'ford tk', 'plymouth',
       'Plymouth', 'ford truck', 'Tesla', 'airstream', 'dot',
       'Aston Martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object)

### 4. Handling Missing Values
Strategy:

- Categorical columns: Filled with 'Unknown' or 'other'
- Numeric columns: Initially kept as NaN for later processing
- Result: Eliminates null values while preserving data integrity

In [20]:
car_price_df.isnull().sum()

year                  0
brand             10301
model             10399
trim              10651
body              13195
transmission      65352
vehicle_id            4
Region                0
condition         11820
odometer             94
exterior_color      749
interior_color      749
seller                0
mmr                  38
selling_price        12
sale_date            12
dtype: int64

In [21]:
car_price_df['trim'] = car_price_df['trim'].fillna('Unknown')
car_price_df['brand'] = car_price_df['brand'].fillna('other')
car_price_df['model'] = car_price_df['model'].fillna('other')
car_price_df['body'] = car_price_df['body'].fillna('other')
car_price_df['transmission'] = car_price_df['transmission'].fillna('Unknown')
car_price_df['vehicle_id'] = car_price_df['vehicle_id'].fillna('Unknown')
car_price_df['condition'] = car_price_df['condition'].fillna('Nan')
car_price_df['odometer'] = car_price_df['odometer'].fillna('Nan')
car_price_df['exterior_color'] = car_price_df['exterior_color'].fillna('Unknown')
car_price_df['interior_color'] = car_price_df['interior_color'].fillna('Unknown')
car_price_df['mmr'] = car_price_df['mmr'].fillna('Unknown')
car_price_df['selling_price'] = car_price_df['selling_price'].fillna('Unknown')
car_price_df['sale_date'] = car_price_df['sale_date'].fillna('Unknown')

### Missing Value Treatment:

- Categorical fields (brand, model, transmission, etc.) are imputed with "Unknown" or "other".
- Numerical fields like odometer, mmr, and selling_price are also filled — although these are marked as 'Unknown', they should ideally be converted to numeric or flagged for downstream filtering

In [23]:
car_price_df.isnull().sum()

year              0
brand             0
model             0
trim              0
body              0
transmission      0
vehicle_id        0
Region            0
condition         0
odometer          0
exterior_color    0
interior_color    0
seller            0
mmr               0
selling_price     0
sale_date         0
dtype: int64

In [24]:
car_price_df.duplicated().sum()

0

### 5. Region Standardization
Purpose: Converts abbreviated state/province codes to full names for better readability.

In [26]:
car_price_df.loc[:,'Region']= car_price_df['Region'].replace({
    'ab': 'Alberta',
    'al': 'Alabama',
    'az': 'Arizona',
    'ca': 'California',
    'co': 'Colorado',
    'fl': 'Florida',
    'ga': 'Georgia',
    'hi': 'Hawaii',
    'il': 'Illinois',
    'in': 'Indiana',
    'la': 'Louisiana',
    'ma': 'Massachusetts',
    'md': 'Maryland',
    'mi': 'Michigan',
    'mn': 'Minnesota',
    'mo': 'Missouri',
    'ms': 'Mississippi',
    'nc': 'North Carolina',
    'ne': 'Nebraska',
    'nj': 'New Jersey',
    'nm': 'New Mexico',
    'ns': 'Nova Scotia',
    'nv': 'Nevada',
    'ny': 'New York',
    'oh': 'Ohio',
    'ok': 'Oklahoma',
    'on': 'Ontario',
    'or': 'Oregon',
    'pa': 'Pennsylvania',
    'pr': 'Puerto Rico',
    'qc': 'Quebec',
    'sc': 'South Carolina',
    'tn': 'Tennessee',
    'tx': 'Texas',
    'ut': 'Utah',
    'va': 'Virginia',
    'wa': 'Washington',
    'wi': 'Wisconsin'
})
car_price_df['Region'] = car_price_df['Region'].replace(r'^[a-zA-Z0-9]{17}$', 'Delaware', regex=True)

In [27]:
np.unique(car_price_df.Region.to_list())

array(['Alabama', 'Alberta', 'Arizona', 'California', 'Colorado',
       'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Illinois', 'Indiana',
       'Louisiana', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Nebraska', 'Nevada', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'Nova Scotia', 'Ohio',
       'Oklahoma', 'Ontario', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Quebec', 'South Carolina', 'Tennessee', 'Texas', 'Utah',
       'Virginia', 'Washington', 'Wisconsin'], dtype='<U14')

In [28]:
car_price_df

,year,brand,model,trim,body,transmission,vehicle_id,Region,condition,odometer,exterior_color,interior_color,seller,mmr,selling_price,sale_date
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,California,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,California,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,California,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,California,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,California,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,Unknown,knalw4d4xf6019304,Indiana,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,Washington,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,California,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,Georgia,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,California,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

#### 6. Date Processing
- Challenge: Original dates contained timezone info (e.g., "GMT-0800 (PST)")
- Solution: Extracts the main datetime portion and converts to proper datetime format.

In [30]:
# 1. Remove timezone part after 'GMT'
car_price_df['sale_date_clean'] = car_price_df['sale_date'].str.extract(r'(.*)GMT')[0].str.strip()

# 2. Convert to datetime safely (invalid ones become NaT)
car_price_df['sale_date_clean'] = pd.to_datetime(
    car_price_df['sale_date_clean'],
    errors='coerce'  # Handles "Unknown", empty, etc.
)

# 3. Fill NaT with a default date (e.g., Jan 1, 2000)
car_price_df['sale_date_clean'] = car_price_df['sale_date_clean'].fillna(pd.to_datetime('2000-01-01'))

# 4. Extract only the date part into new column
car_price_df['sale_day'] = car_price_df['sale_date_clean'].dt.date

In [31]:
car_price_df

,year,brand,model,trim,body,transmission,vehicle_id,Region,condition,odometer,exterior_color,interior_color,seller,mmr,selling_price,sale_date,sale_date_clean,sale_day
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,California,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),2014-12-16 12:30:00,2014-12-16
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,California,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),2014-12-16 12:30:00,2014-12-16
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,California,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST),2015-01-15 04:30:00,2015-01-15
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,California,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),2015-01-29 04:30:00,2015-01-29
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,California,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST),2014-12-18 12:30:00,2014-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,Unknown,knalw4d4xf6019304,Indiana,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT),2015-07-09 07:00:00,2015-07-09
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,Washington,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT),2015-07-08 09:30:00,2015-07-08
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,California,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT),2015-07-08 09:30:00,2015-07-08
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,Georgia,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT),2015-07-09 06:45:00,2015-07-09
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,California,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT),2015-05-28 05:30:00,2015-05-28

In [32]:
car_price_df.drop(columns=['sale_date','sale_date_clean'], inplace= True)

#### 7. Data Type Conversion
- Purpose: Ensures numeric columns have proper data types for analysis.
- Safety: Uses errors='coerce' to convert problematic values to NaN rather than failing.

In [34]:
# Convert the specified columns to numeric types
# Using pd.to_numeric with errors='coerce' will convert non-numeric values to NaN
car_price_df['selling_price'] = pd.to_numeric(car_price_df['selling_price'], errors='coerce')
car_price_df['mmr'] = pd.to_numeric(car_price_df['mmr'], errors='coerce')
car_price_df['odometer'] = pd.to_numeric(car_price_df['odometer'], errors='coerce')
car_price_df['condition'] = pd.to_numeric(car_price_df['condition'], errors='coerce')

# If you want to convert them to integers (and handle NaN values), you can use:
# df['selling_price'] = df['selling_price'].fillna(0).astype(int)
# df['mmr'] = df['mmr'].fillna(0).astype(int)
# df['odometer'] = df['odometer'].fillna(0).astype(int)
# df['condition'] = df['condition'].fillna(0).astype(int)
print(car_price_df.dtypes)

year                int64
brand              object
model              object
trim               object
body               object
transmission       object
vehicle_id         object
Region             object
condition         float64
odometer          float64
exterior_color     object
interior_color     object
seller             object
mmr               float64
selling_price     float64
sale_day           object
dtype: object

In [35]:
car_price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            558837 non-null  int64
 1   brand           558837 non-null  object
 2   model           558837 non-null  object
 3   trim            558837 non-null  object
 4   body            558837 non-null  object
 5   transmission    558837 non-null  object
 6   vehicle_id      558837 non-null  object
 7   Region          558837 non-null  object
 8   condition       547017 non-null  float64
 9   odometer        558743 non-null  float64
 10  exterior_color  558837 non-null  object
 11  interior_color  558837 non-null  object
 12  seller          558837 non-null  object
 13  mmr             558799 non-null  float64
 14  selling_price   558825 non-null  float64
 15  sale_day        558837 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

8. Final Cleaning Steps
- Optimization: Removes redundant columns after processing.
- Quality Check: Verifies no duplicate rows exist in the dataset.

In [37]:
car_price_df.duplicated().sum()

0

In [38]:
car_price_df['sale_day'] = pd.to_datetime(car_price_df['sale_day'])

9. Saving Cleaned Data
- Output: Saves the cleaned dataset for future analysis, to data folder by using Join method and path
- Format: CSV without index column to maintain compatibility.(to_csv function in help)

In [40]:
# Change the save path to a location you control
final_file = os.path.join('C:/Users/Ashulah/Downloads/car-sales-analysis/data/','car_sales_cleaned.csv')

# Saving the DataFrame
car_price_df.to_csv(final_file, index=False)

In [41]:
car_price_df.describe()

,year,condition,odometer,mmr,selling_price,sale_day
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000,558837
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810,2015-03-05 18:31:26.086999040
min,1982.000000,1.000000,1.000000,25.000000,1.000000,2000-01-01 00:00:00
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000,2015-01-21 00:00:00
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000,2015-02-13 00:00:00
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000,2015-05-22 00:00:00
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000,2015-07-21 00:00:00
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628,NaN